.close-icon {
  position: absolute;
  right: 3%;
  top: 3%;
  cursor: pointer;
}
.sidecomment {
  height: 26.3rem;
  overflow: scroll;
}
.font {
  font-weight: bold;
  font-size: 20px;
}
.head {
  display: flex;
  margin-bottom: 3rem;
}
